.App {
  text-align: center;
}

.balanceborder {
  border: 2px solid red;
  border-radius: 12px;
  padding: 5px;
  background-color: antiquewhite;
}

.incomingsborder {
  border: 2px solid rgb(0, 183, 255);
  border-radius: 12px;
  padding: 5px;
}

.expensesborder {
  border: 2px solid rgb(178, 224, 12);
  border-radius: 12px;
  padding: 5px;
}


.App-link {
  color: #61dafb;
}


